.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 120px;
}

.nav-items > ul {
  display: flex;
  padding: 0px 20px;
  font-size: 24px;
  list-style-type: none;
}

.nav-items > ul > li {
  font-family: "Proxima Nova", Arial, "Helvetica Neue", sans-serif;
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  padding: 5px;
  width: 185px;
  margin: 9px;
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
}

.res-card:hover {
  border-radius: 10px;
  transform: scale(0.95);
  transition: box-shadow 0.5s;
  box-shadow: 0px 0px 10px 5px #ccc;
}

.res-card-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-radius: 10px;
}

.filter-btn {
  margin: 10px 10px;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 231);
  padding: 9px 12px;
  width: auto;
  height: 40px;
  cursor: pointer;
  box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
  transform: scale(1);
  transition: background-color 0.1s ease-in 0s, border-color 0.1s ease-in 0s,
    box-shadow 0.1s ease-in 0s, width 0.2s cubic-bezier(0.65, 0, 0.35, 1) 0s;
}

.filter-btn:hover {
  transform: scale(0.95);
  transition: box-shadow 0.5s;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  padding: 5px;
  width: 185px;
  height: 300px;
  margin: 9px;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.login-btn {
  padding: 0 20px;
  font-size: 17px;
  color: black;
  background-color: transparent;
  border: none;
  font-family: "Proxima Nova", Arial, "Helvetica Neue", sans-serif;
  font-weight: 600;
  cursor: pointer;
}

.login-btn:hover {
  color: orange;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 50%;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 60%;
}

.search-btn {
  margin: 10px 10px;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(226, 226, 231);
  padding: 9px 12px;
  width: auto;
  cursor: pointer;
  box-shadow: rgba(2, 6, 12, 0.04) 0px 2px 12px;
}

.search-box {
  font-size: 1.05rem;
  line-height: 20px;
  width: 100%;
  height: 80%;
  outline: 0;
  border: none;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: 500;
  border-radius: 15px;
  border: 1px solid gainsboro;
  text-align: center;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.user-logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin-right: 20px;
}
